<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- root menu -->
    <menuitem id="internship_root" name="internship" web_icon="internship_manager,static/description/icon.png" sequence="-1" />

    <!-- submenu course -->
    <menuitem id="course_management" name="Course management" parent="internship_root" sequence="-1" />

    <!-- submenu class -->
    <menuitem id="class_management" name="Class management" parent="internship_root" sequence="0" />

</odoo>